[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weaviate-client = "*"
llama-index = "*"
llama-index-vector-stores-weaviate = "*"
flask = "*"
openai = "*"
anthropic = "*"
ipykernel = "*"
python-dotenv = "*"
transformers = "*"
llama-index-embeddings-huggingface = "*"
socks = "*"
pysocks = "*"
llama-index-postprocessor-colbert-rerank = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
llama-index-extractors-entity = "*"
notebook = "==7.1.2"
llama-index-llms-anthropic = "*"

[requires]
python_version = "3.12"
